div.footnote p {
  font-size: medium;
}

.reveal .slide-logo {
  height: 52px !important;
  width: 58px !important;
  max-height: unset !important;
}

.codewindow .textarea .sourceCode {
  text-wrap: balance;
}

.medium-text-size {
  font-size: 30px !important;
}

div.cell-output-display div.pagedtable-wrapper table.table {
  font-size: 0.6em !important;
}

.inline-img {
  width: 100px;
  height: 100px;
  position: relative;
  top: 30px;
}

div.fragment ul {
  margin-bottom: 0 !important;
}

div.fig-rm-on-exit:not(.current-fragment) img {
  display: none !important;
}